.help-container {
  max-width: 800px;
  margin: 0 auto;
  height: 700px; /* Set a desired height */
  overflow: scroll;
}

.step {
  margin-bottom: 20px;
}

.step-number {
  font-weight: bold;
  margin-bottom: 5px;
}

img {
  max-width: 20%;
  height: auto;
}
